<div class="sub-menu mega-menu-container" tabindex="-1">
  <div class="mega-menu-container--inner mega-menu-container--inner-has-sidebar">
    <mega-menu-sidebar class="mega-menu-sidebar">
      <div class="mega-menu-sidebar--sidebar">
        {%- if link.links.size > 0 -%}
          <ul class="mega-menu-sidebar--columns">
          {%- for l in link.links -%}
            <li class="mega-menu-sidebar--column" role="none">
              <a href="{{ l.url }}" class="mega-menu-sidebar--column-title">
                <span>{{ l.title }}</span>
              </a>
              {%- if l.links.size > 0 -%}
                <ul class="mega-menu-sidebar--subcollections">
                  {%- for sub_link in l.links -%}
                    {%- if sub_link.type != 'product_link' -%}
                      <li>
                        <a href="{{ sub_link.url }}" class="mega-menu-sidebar--subcollection-link">{{ sub_link.title }}</a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </mega-menu-sidebar>
  </div>
</div>

<style>
  /* Estilos para el mega menu sidebar horizontal */
  .mega-menu-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 20px 0px;
  }

  .mega-menu-sidebar--sidebar {
    width: 100% !important;
    padding: 30px 40px !important;
    min-height: 365.19px !important;
    display: flex;
    align-items: flex-start;
  }

  .mega-menu-sidebar--columns {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .mega-menu-sidebar--column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .mega-menu-sidebar--column-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1rem;
    margin-bottom: 16px;
    color: inherit;
    display: block;
  }

  .mega-menu-sidebar--column-title:hover {
    text-decoration: underline;
  }

  .mega-menu-sidebar--subcollections {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  .mega-menu-sidebar--subcollections li {
    padding: 0;
  }

  .mega-menu-sidebar--subcollection-link {
    font-size: 0.875rem;
    font-weight: normal;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2px 0;
  }

  .mega-menu-sidebar--subcollection-link:hover {
    text-decoration: none;
  }

  .mega-menu-container {
    max-width: 1630px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
    position: absolute !important;
    min-height: 365.19px !important;
  }
</style>